.DateComponent {
  .Date_img {
    margin-right: 5px;
  }

  .Date_text {
    font-family: 'Gilroy-medium', serif;
    text-transform: capitalize;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.4);

    &.feed {
      font-family: 'HelveticaNeue', serif;
      font-size: 12px;
    }
  }
}