@import '../../helpers/medias.scss';

input {
  width: 100%;
  color: white;
  font-size: 14px;
  padding: 21px 20px;
  border-radius: 15px;
  border: solid 1px #52535f;
  background-color: rgba(255, 255, 255, 0.02);

  ::placeholder {
    font-size: 14px;
    color: #7d7c83;
  }
}

.form_wrap {
  width: 400px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;

  .form_link {
    font-size: 14px;
    line-height: 1.43;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    padding-bottom: 6px;

    &.mob {
      display: none;
    }
  }

  .form_header {
    margin-bottom: 70px;

    .form_title {
      font-family: "Gilroy-bold";
      font-size: 40px;
      color: #ffffff;
    }
  }

  .form {
    .form_fields {
      width: 100%;
    }

    .else {
      width: 100%;
      margin: 22px 0;
      display: block;
      font-size: 14px;
      color: #ffffff;
      line-height: 1.43;
      text-align: center;
    }
  }

  .rules {
    margin-top: 36px;
    text-align: center;

    p {
      font-size: 14px;
      line-height: 1.43;
      color: #7b7a82;
    }

    .form_link {
      border-bottom: 1px solid rgba(255, 255, 255, 0.11);
      padding-bottom: 6px;
    }
  }
}

.formGroup {
  margin-bottom: 22px;
}

.formLabel {
  display: block;
  color: white;
  margin-bottom: 15px;
  font-family: 'Gilroy-bold'
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputImg {
  width: 125px;
  height: 125px;
  overflow: hidden;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
}

.inputImg_photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.inputImg_upload {
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 0;
  right: 0;
}

textarea {
  resize: none;
  padding: 0 0 10px;
  background: none;
  border-bottom: 1px solid #575757;
  width: 100%;
  height: 70px;
  color: #959595
}

.currency input {
  padding-left: 45px;
  color: white;
  font-size: 40px;
  font-family: 'Gilroy-bold';
  line-height: 0.4;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.currency {
  position: relative;
  font-size: 40px;
  font-family: 'Gilroy-bold';
}

.currency:before {
  content: '$';
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 1;
  color: white
}

@include for-phone-only {
  .form_wrap {
    width: 100%;
    position: relative;
    transform: none;

    .form_link {
      &.mob {
        display: block;
        margin-top: 30px;
      }
    }

    .form_header {
      display: none;
    }

    .social_buttons {
      flex-direction: column;

      .social {
        width: 100%;
        padding: 17px 26px;
      }

      .social:last-child {
        margin-top: 14px;
      }
    }
  }
}