@import '../../helpers/medias.scss';

.Header {
  width: 100%;
  padding-bottom: 30px;
}

.Header_images {
  width: 42px;
  height: 42px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.Logo {
  margin-right: 40px;
  overflow: hidden;
  @extend %flex-center;
  text-decoration: none;

  .Logo_image {
    float: left;
  }

  .Logo_text {
    font-family: 'Gilroy-bold', serif;
    display: none;
    color: white;
    font-size: 20px;
  }
}

.Navigation {
  display: none;

  .Navigation_List {
    list-style-type: none;

    .Navigation_List__element {
      margin-left: 20px;

      a {
        font-family: 'Gilroy-semiBold', serif;
        font-size: 16px;
        color: white;
        text-decoration: none;
      }
    }
  }

  .profile-btn {
    cursor: pointer;

    .profile-text {
      margin-right: 11px;
      font-family: 'Gilroy-semiBold', serif;
      font-size: 16px;
      color: #ffffff;
    }

    .arrow-wrap {
      position: relative;
      text-align: center;
      width: 20px;
      height: 20px;
      color: white;
      border-radius: 50%;
      background: #6e6aea;
      cursor: pointer;

      span {
        position: absolute;
        top: 0;
        left: 0;
        background: none;
      }

      .fas {
        transition: all .3s ease-in;
      }

      .fa-angle-up {
        margin: 0;
      }

      .fa-angle-down {
        margin-top: 3px;
      }
    }
  }
}

@include for-all-desktops {
  .Header_images {
    height: 50px;
    width: 50px;
    margin-right: 13px;
  }

  .Navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.end {
      justify-content: flex-end;
    }
  }

  .Logo {
    .Logo_text {
      display: inline;
    }
  }

  .Toggle_images {
    display: none;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}