@import '../../helpers/medias.scss';

.Header {
  width: 100%;
  padding-bottom: 15px;
}

.Header_images {
  height: 37px;
  width: 37px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.Logo {
  margin-right: 40px;
  overflow: hidden;
  @extend %flex-center;
  text-decoration: none;

  .Logo_image {
    float: left;
  }

  .Logo_text {
    font-family: 'Gilroy-bold', serif;
    display: none;
    color: white;
    font-size: 20px;
  }
}

.Navigation {
  display: none;

  .Navigation_List {
    list-style-type: none;

    // :last-child {
    //   margin-left: auto;
    // }
  }

  .Navigation_List__element {
    margin-left: 20px;

    a {
      font-family: 'Gilroy-semiBold';
      font-size: 16px;
      color: white;
      text-decoration: none;
    }
  }
}

@include for-all-desktops {
  .Header_images {
    height: 50px;
    width: 50px;
    margin-right: 13px;
  }

  .Navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.end {
      justify-content: flex-end;
    }
  }

  .Logo {
    .Logo_text {
      display: inline;
    }
  }

  .Toggle_images {
    display: none;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}