.side-menu {
  position: fixed;
  top: 77px;
  left: 99px;
  width: 200px;
  align-items: flex-start !important;

  .Header_logo {
    margin-bottom: 60px;
  }

  .links {
    ul {
      list-style-type: none;
      align-items: flex-start !important;
    }

    a {
      color: white;
      font-family: 'Gilroy-semiBold', serif;
      text-decoration: none
    }

    .main-links {
      margin-bottom: 60px;

      li a {
        font-size: 20px;
        margin-bottom: 30px;
        line-height: 2.3;
      }
    }

    .sub-links {
      font-size: 16px;
      line-height: 2;
      color: #ffffff;

      li {
        font-family: Gilroy-medium, serif;
      }

      a {
        font-family: Gilroy-medium, serif;
      }
    }
  }
}
