.form {
  padding: 0 20px;
}

.form a {
  text-decoration: none;
}

.formGroup {
  margin-bottom: 15px;
}

.formLabel {
  display: block;
  color: white;
  margin-bottom: 15px;
  font-family: "Gilroy-bold"
}

.alreadySignUp {
  width: 100%;
  text-align: center;
  color: #959595;
  font-size: 11px;
}

.alreadySignUp p {
  margin-bottom: 10px;
}

.alreadySignUp a {
  font-family: "Gilroy-bold";
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
}

@media (min-width: 600px) {
  .form {
    width: 400px;
  }

  .registerWrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .alreadySignUp p {
    font-size: 12px;
  }

  .alreadySignUp a {
    font-size: 16px
  }
}