.Channels_page_navigation {
  width: 100%;
  margin-bottom: 30px;

  .Channels_page_navigation__wrap {
    display: flex;
    justify-content: center;
    list-style-type: none;

    :first-child {
      margin-right: 50px;
    }

    .Channels_page_navigation__element {
      text-decoration: none;
      opacity: 0.3;
      font-family: 'Gilroy-bold';
      font-size: 32px;
      color: #ffffff;

      &_active {
        opacity: 1;
      }
    }
  }
}