.ModalStack_Wrap {
  position: absolute;
  width: 290px;
  top: 10px;
  right: 10px;
  z-index: 999;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.ModalStack_Content {
  position: relative;
}