.ClubCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 37px;
  justify-content: flex-start;
}

.ClubCard_logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 18px;
}

.ClubCard_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ClubCard_title {
  font-family: 'Gilroy-bold';
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
  color: #090909;
  margin-bottom: 15px
}

.ClubCard_description {
  font-family: HelveticaNeue;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #959595;
  margin-bottom: 22px
}

.ClubCard_price {
  margin-bottom: 10px;
}

.ClubCard_price h3 {
  font-family: 'Gilroy-bold';
  font-size: 20px;
  line-height: 0.8;
  color: #090909;
}

.ClubCard_price span {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #090909;
  display: block;
}

@media (min-width: 600px) {
  .ClubCard_logo {
    width: 110px;
    height: 110px;
  }
  .ClubCard_title {
    font-size: 20px;
  }
  .ClubCard_price h3 {
    font-size: 24px
  }
}