.toggleMenu {
  width: 100vw;
  height: 100vh;
  padding: 100px 20px 50px;

  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  overflow: hidden;
  transition: 1s ease-in;

  display: flex;
  flex-direction: column;
  background-color: #0e0e0edc;

}

.toggleMenu_element {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.toggleMenu_element h3 {
  font-family: 'Gilroy-bold';
  font-size: 18px;
  font-weight: 800;
  color: white
}

.toggleMenu_element span {
  font-size: 12px;
  color: white;
  margin-top: 5px;
}

.error {
  font-family: 'Gilroy-bold';
  font-size: 10px;
  font-weight: 800;
}

.toggleMenu_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 37px;
  width: 37px;
  overflow: hidden; 
  margin-right: 0
}

.toggleMenu_icon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.toggleMenu_img {
  margin-bottom: 20px;
}

.toggleMenu_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.toggleMenu_club {
  width: 40px;
  height: 32px;
}

.toggleMenu_profile {
  width: 33.8px;
  height: 32px;
}

.toggleMenu_myclubs {
  width: 36px;
  height: 36px;
}