@import '../helpers/medias.scss';

.Wrap {
  padding: 20px 20px 0;
}

@include for-all-desktops {
  .Main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .Wrap {
    padding: 30px 40px 20px;
  }
}