.Wrap {
  padding: 20px 20px 0;
  height: 100vh;
}

.Main {
  padding-top: 57px;
  height: 100%;
}

@media (min-width: 600px) {
  .Main {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
  }

  .Wrap {
    padding: 30px 40px 0;
    height: 100vh;
  }
}