@import '../../helpers/medias.scss';

.navMenu {
  width: 100%;
  padding-bottom: 15px;
  background-color: #0e0e0edc;
}

.Logo {
  height: 37px;
  width: 37px;
  overflow: hidden;
}

.purpleLogo {
  display: none;
}

.navMenu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.Paych {
  display: none;
  color: white;
  font-size: 20px;
  font-family: 'Gilroy-bold';
}

.Logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navWrap {
  display: none;
  align-items: center;
}

li {
  list-style-type: none;
}

.navElement {
  font-family: "Gilroy-bold";
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

@include for-desktop {
  .Logo {
    width: 50px;
    height: 50px;
    margin-right: 13px;
  }

  .whiteLogo {
    display: none;
  }

  .purpleLogo {
    display: block;
  }

  .Paych {
    display: block;
  }

  .navMenu {
    position: relative;
    padding: 0 0 20px;
  }

  .navWrap {
    display: flex;
  }

  .toggleMenu {
    display: none;
  }

  .toggleMenu_icon {
    display: none;
  }
}

@include for-wide-desktop {
  
}