.NewClubDone_Wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.infoText {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
}

.urlText {
  font-family: 'Gilroy-bold';
  font-size: 10px;
  text-align: center;
  color: #959595;
}

.url {
  font-family: 'Gilroy-bold';
  font-size: 18px;
  line-height: 2.22;
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
}