.onValet{
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.onValet_text {
  font-size: 10px;
  color: #ffffff;
}

.onValet_money {
  font-family: 'Gilroy-bold';
  font-size: 22px;
  color: #ffffff;
}