@import '../../helpers/medias.scss';

.btn {
  cursor: pointer;
  font-family: 'Gilroy-semiBold', serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  padding: 26px 46px;
  color: #ffffff;

  &.social {
    width: 48%;
    color: black;
    max-height: 89px;
    padding: 23px 26px;
    border-radius: 15px;
    background: white;

    span {
      font-family: "Gilroy-bold", serif;
      margin-left: 12px;
      text-align: left;
    }
  }

  &.blue {
    background-color: #6e6aea;
  }

  &.width100 {
    width: 100%;
  }

  &.rad-10 {
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &.rad-25 {
    border-radius: 25px;
    padding: 17px 40px;
  }

  &.rad-35 {
    font-size: 16px;
    border-radius: 35px;
    margin-top: 28px;
  }

  &.none {
    background: transparent;
    padding: 15px;
    font-size: 16px;
  }

  &.out {
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 25px;
    background: transparent;
    border: solid 1px #ffffff41;
  }
}

@include for-phone-only {
  .btn {
    padding: 17px 40px;

    .social_buttons {
      flex-direction: column;

      .social {
        width: 100%;
        padding: 17px 26px;
      }

      .social:last-child {
        margin-top: 14px;
      }
    }
  }
}