@font-face {
  font-family: "Gilroy-bold";
  src: url(./assets/fonts/gilroy/Gilroyextrabold.ttf) format("truetype"),
    url(./assets/fonts/gilroy/Gilroyextrabold.woff) format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy-light";
  src: url(./assets/fonts/gilroy/Gilroylight.ttf) format("truetype"),
    url(./assets/fonts/gilroy/Gilroylight.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(./assets/fonts/helvetica-neue/HelveticaNeue.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue";
  outline: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background-color: #0e0e0e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}