@import './helpers/medias.scss';

@font-face {
  font-family: 'Gilroy-bold';
  src: url(./assets/fonts/gilroy/Gilroyextrabold.ttf) format('truetype'),
    url(./assets/fonts/gilroy/Gilroyextrabold.woff) format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy-semiBold';
  src: url(./assets/fonts/gilroy/Gilroy-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy-light';
  src: url(./assets/fonts/gilroy/Gilroylight.ttf) format('truetype'),
    url(./assets/fonts/gilroy/Gilroylight.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url(./assets/fonts/helvetica-neue/HelveticaNeue.ttf) format('truetype');
}

//PAGES:
@import './styles/pages/channels';
@import './styles/pages/feed';
//COMPONENTS:
@import './styles/components/popupMenu';
@import './styles/components/forms';
@import './styles/components/header';
@import './styles/components/channelPost';
@import './styles/components/dateComponent';
//OTHERS:
@import './styles/others/buttons';

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'HelveticaNeue', serif;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #262739 url('./assets/background.png') no-repeat fixed;
  background-size: cover;
}

.flex {
  display: flex;
  align-items: center;

  &.flex-end {
    justify-content: flex-end;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.column {
    flex-direction: column;
  }
}

.activeLink {
  opacity: 1 !important;
  text-decoration: none
}

.club-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

@include for-all-desktops {
  .form {
    width: 400px;
  }

  .alreadySignUp p {
    font-size: 12px;
  }

  .alreadySignUp a {
    font-size: 16px
  }

  .active {
    opacity: 1;
  }

  .club-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }

  .card {
    max-width: 330px;
  }
}