@font-face {
  font-family: 'Gilroy-bold';
  src: url(./assets/fonts/gilroy/Gilroyextrabold.ttf) format('truetype'),
    url(./assets/fonts/gilroy/Gilroyextrabold.woff) format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy-light';
  src: url(./assets/fonts/gilroy/Gilroylight.ttf) format('truetype'),
    url(./assets/fonts/gilroy/Gilroylight.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url(./assets/fonts/helvetica-neue/HelveticaNeue.ttf) format('truetype');
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'HelveticaNeue';
  outline: none;
  box-sizing: border-box;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background-color: #0e0e0e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 0 0 10px;
  background: none;
  border-bottom: 1px solid #575757;
  width: 100%;
  color: #959595
}

.button {
  cursor: pointer;
  background-color: #6663d5;
  user-select: none;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: white;
  font-weight: 800;

  padding: 14px 25px;
}

.blue-radius-btn29 {
  border-radius: 29px;
}

.blue-radius-btn {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.outline-button {
  background: none;
  border-radius: 25px;
  border: solid 1px #ffffff41;
}

.blue-big-btn {
  width: 100%;
}

.register-btn {
  display: block;
  margin: 50px auto 38px;
}

.toBottom {
  margin-top: auto;
}


/* FORM STYLE */

.form {
  padding: 0 20px;
}

.form a {
  text-decoration: none;
}

.formGroup {
  margin-bottom: 22px;
}

.formLabel {
  display: block;
  color: white;
  margin-bottom: 15px;
  font-family: 'Gilroy-bold'
}

.alreadySignUp {
  width: 100%;
  text-align: center;
  color: #959595;
}

.alreadySignUp p {
  margin-bottom: 10px;
  font-size: 11px;
}

.alreadySignUp a {
  font-family: 'Gilroy-bold';
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputImg {
  width: 125px;
  height: 125px;
  overflow: hidden;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
}

.inputImg_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputImg_upload {
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 0;
  right: 0;
}

textarea {
  resize: none;
  padding: 0 0 10px;
  background: none;
  border-bottom: 1px solid #575757;
  width: 100%;
  height: 70px;
  color: #959595
}

.dolar input {
  padding-left: 35px;
  color: white;
  font-size: 40px;
  font-family: 'Gilroy-bold';
  line-height: 0.4;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dolar {
  position: relative;
  font-size: 40px;
  font-family: 'Gilroy-bold';
}

.dolar:before {
  content: '$';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white
}

.activeLink {
  opacity: 1 !important;
  text-decoration: none
}

.club-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

@media screen and (min-width: 726px) {
  .form {
    width: 400px;
  }

  .alreadySignUp p {
    font-size: 12px;
  }

  .alreadySignUp a {
    font-size: 16px
  }

  .active {
    opacity: 1;
  }

  .club-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: 726px) {
  .card {
    width: 330px;
  }
}

@media screen and (min-width: 1060px) {
  .club-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}