@import './helpers/medias.scss';

@font-face {
  font-family: 'Gilroy-bold';
  src: url(./assets/fonts/gilroy/Gilroy-Bold.ttf) format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy-semiBold';
  src: url(./assets/fonts/gilroy/Gilroy-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy-medium';
  src: url(./assets/fonts/gilroy/Gilroy-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy-light';
  src: url(./assets/fonts/gilroy/Gilroylight.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url(./assets/fonts/helvetica-neue/HelveticaNeue.ttf) format('truetype');
}

//PAGES:
@import './styles/pages/channels';
@import './styles/pages/feed';
//COMPONENTS:
@import './styles/components/header';
@import './styles/components/footer';
@import 'styles/components/toggleNav';
@import './styles/components/popupMenu';
@import './styles/components/forms';
@import './styles/components/channelPost';
@import './styles/components/dateComponent';
@import './styles/components/channelCard';
@import './styles/components/sideMenu';
//OTHERS:
@import './styles/others/loader';
@import './styles/others/buttons';

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'HelveticaNeue', serif;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #262739 url('./assets/background-m.png') no-repeat fixed;
  background-size: cover;
}

.page-title {
  margin-top: 47px;
  margin-bottom: 67px;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "Gilroy-bold", serif;
  color: #FFFFFF;
}

.flex {
  display: flex;
  align-items: center;

  &.flex-end {
    justify-content: flex-end;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.column {
    flex-direction: column;
  }
}

.club-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

@include for-all-desktops {
  body {
    background: #262739 url('./assets/background-w.png') no-repeat fixed;
    background-size: cover;
  }
  .form {
    width: 400px;
  }

  .alreadySignUp p {
    font-size: 12px;
  }

  .alreadySignUp a {
    font-size: 16px
  }

  .active {
    opacity: 1;
  }

  .club-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}