@font-face {
  font-family: "Gilroy-bold";
  src: url(./assets/fonts/gilroy/Gilroyextrabold.ttf) format("truetype"),
    url(./assets/fonts/gilroy/Gilroyextrabold.woff) format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy-light";
  src: url(./assets/fonts/gilroy/Gilroylight.ttf) format("truetype"),
    url(./assets/fonts/gilroy/Gilroylight.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(./assets/fonts/helvetica-neue/HelveticaNeue.ttf) format("truetype");
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "HelveticaNeue";
  outline: none;
  box-sizing: border-box;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background-color: #0e0e0e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  padding: 0 0 10px;
  background: none;
  border-bottom: 1px solid #575757;
  width: 100%;
  color: #959595
}

.button {
  cursor: pointer;
  background-color: #6663d5;
  user-select: none;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: white;
  font-weight: 800;

  padding: 14px 50px;
}

.blue-radius-btn {
  border-radius: 29px;
}

.blue-big-btn {
  width: 100%;
}

.register-btn {
  display: block;
  margin: 50px auto 38px;
}

.toBottom {
  margin-top: auto;
}